/* General styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #a2d5f2, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 50%;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #00a2ff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #0086d4;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li .task {
    font-size: 18px;
    font-weight: bold;
}

li .actions {
    display: flex;
    gap: 10px;
}

.actions a {
    text-decoration: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0; /* Hilangkan padding untuk memastikan ukurannya sesuai */
    border-radius: 50%;
    display: inline-block;
    font-size: 18px; /* Sesuaikan ukuran font agar muat di tombol kecil */
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions .complete {

    background-color: #4CAF50;
}

.actions .delete {
    background-color: #F44336;
}

.actions a:hover {
    opacity: 0.8;
}
